[submodule "BLIP_Thesis"]
	path = BLIP_Thesis
	url = https://github.com/MalekSamet/BLIP_Thesis.git
[submodule "ADLM-Laajim"]
	path = ADLM-Laajim
	url = git@github.com:MalekSamet/ADLM-Laajim.git
[submodule "einformer_laajim"]
	path = einformer_laajim
	url = git@github.com:MalekSamet/einformer_laajim.git
[submodule "malek_inpainting"]
	path = malek_inpainting
	url = git@github.com:MalekSamet/malek_inpainting.git
